.container-fluid{
    background-color:#FF9000;
    height: 670px;
}

.img{
    height: 320px;
    width: 200px;
    border-radius: 50%;

}
.b{
font-size: 50px;
color: white;
font:bold;
text-shadow: 2px 2px;
font-family: fantasy;
}
.h{
  font: bold;
  font-family: 'Luckiest Guy';
  color: #0000A0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 2px 2px;
  }
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
  }
  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 50%;
  }
  .container-fluid1{
    background-color: white;
    height: 400px;
  }
  p{
    font: bold;
    font-family:ProximalNovaA-Black;
    font-size: xx-large;
  }
  @font-face{
    font-family: ProximalNovaA;
    src:url("ProximalNovaA-Black.ttf");
  }
  .container-fluid2{
    background-color:#FF9000;
    height: 590px;
}
.p{
  font:bold;
  font-size:50px;
  color: aliceblue;
  font-style: italic;

}
.ab{
  font:bold;
  font-style:inherit;
  color:	#0000A0 ;
}
.cc{
  font:bold;
  font-size:60px;

}
.container-fluid1
{
  height: 450px;
}
